# These are required params that need to be provided when you run ./mvnw quarkus:dev command, other vars have fallbacks but you can override them as well
# This is used when running quarkus locally and not for K8S

# Database
DB_USERNAME=
DB_PASSWORD=
DB_JDBC_URL=

# OIDC
QUARKUS_OIDC_AUTH_SERVER_URL=
QUARKUS_OIDC_CLIENT_ID=
QUARKUS_OIDC_CREDENTIALS_SECRET=

# Mail
MAILER_FROM=
MAILER_USERNAME=
MAILER_PASSWORD=
