# Core Database Credentials (db service)
CORE_DB_NAME=
CORE_DB_USER=
CORE_DB_PASSWORD=

# Keycloak Database Credentials (keycloak-db service)
KEYCLOAK_DB_NAME=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=

# Keycloak Service Credentials (keycloak service)
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

# VPN Service Database Credentials (core service - MUSI VPN environment)
# NOTE: These variables are used when QUARKUS_DATASOURCE variables are defined in the core service environment block.
VPN_DB_USERNAME=
VPN_DB_PASSWORD=